DROP POLICY IF EXISTS "Users can view group participants for groups they belong to" ON public.group_participants;
CREATE POLICY "Users can view group participants for groups they belong to" ON public.group_participants 
FOR SELECT USING (
    EXISTS (
        SELECT 1 FROM public.group_participants gp 
        WHERE gp.group_id = group_participants.group_id 
        AND gp.user_id = auth.uid()
    ) 
    AND EXISTS (
        SELECT 1 FROM public.group_chat_threads gt 
        WHERE gt.id = group_participants.group_id
    )
);
NOTIFY pgrst, 'reload schema';